<h2 id="title">Welcome to Ember</h2>

<h3>Posts:</h3>
<ul>
  {{#each model as |post|}}
    <li>
      {{post.title}}

      (tags:
        {{#each post.tags as |tag|}}
          {{tag.name}}, 
        {{/each}}
      )
    </li>
  {{/each}}
</ul>
